@import "settings"; // Global Foundation Settings

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
// @import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
@import "foundation/components/orbit";
@import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
// @import "foundation/components/inline-lists";
@import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "compass/typography/lists/inline-block-list";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";
@import "compass/css3/animation"; // requires compass v0.13, see README.md
@import "compass/css3/images";
@import "compass/css3/border-radius";

$multiplied: #0b00ff; // FIXME:  use this instead of transparent water?
$punch-color: #000043;

/* Sprites */
@import "hovers/*.png";

/* General styles */
body {
    h1,h2,h3,h4 {
        text-transform: uppercase;
    }
    h1 {
        margin-bottom: 0.3em;
    }
    a {
        @include transition(
            background-color .15s ease,
            background-image .15s ease,
            color .15s ease);

        &:hover {
            color: $secondary-color;
        }
    }
    span,
    input[type=submit] {
        @include transition(
            background-color .15s ease,
            opacity .15s ease,
            color .15s ease);
    }
    img {
        @include transition(opacity .15s ease);
    }
    
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.uppercase {
    text-transform: uppercase;
}
.semi-bold {
    font-weight: 600;
}
/* buttons */
body {
    .button {
        border: 0;
        @extend .secondary;
        @include box-shadow(none);
        text-transform: uppercase;
        &.button-primary {
            border: 0;
            @extend .primary;
            @include box-shadow(none);
            text-transform: uppercase;
        }
        &.mega {
            font-size: $h2-font-size;
        }
    }
    .btn-tiny {
        $size: 32px;
        text-align: center;
        font-size: 1.3em;
        display: inline-block;
        color: white;
        width: $size;
        height: $size;
        line-height: $size;

        .icon-twitter {
            font-size: 0.8em;
        }
    }
    .primary {
        background-color: $primary-color;

        &:hover {
            color: white;
            background-color: $secondary-color;
        }
    }
    .secondary {
        background-color: $secondary-color;

        &:hover {
            color: white;
            background-color: $primary-color;
        }
    }
}
/* Images */
.attachment-eight-columns,
.attachment-four-columns {
    width: 100%;
}
.vcard {
    padding: 0;
    margin: 0;
    border: 0;

}
/* Image hovers */
/* Note: Disabled automatic generation of :hover for fade transition */
$disable-magic-sprite-selectors:true;
.hover {
    position: relative;
    span{
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &.fri-villig {
        @include hovers-sprite(fri_villig);
        span { @include hovers-sprite(fri_villig_hover); }
    }
    &.tweets {
        display: block;
        width: 291px;
        height: 114px;
        @include hovers-sprite(tweets);
        span { @include hovers-sprite(tweets_hover); }
    }
    &.blog {
        display: block;
        width: 285px;
        height: 258px;
        @include hovers-sprite(blog);
        span { @include hovers-sprite(blog_hover); }

    }
    &.instagram {
        display: block;
        width: 300px;
        height: 304px;
        @include hovers-sprite(instagram);
        span { @include hovers-sprite(instagram_hover); }
    }
    &.artists {
        display: block;
        width: 300px;
        height: 220px;
        @include hovers-sprite(artists);
        span { @include hovers-sprite(artists_hover); }
    }
}
/* more hover stuff */
a.colored {
    display: block;
    background-color: $secondary-color;

    &.primary {
        background-color: $primary-color;
    }

    img {
        display: block;
        width: 100%;
    }

    &:hover img {
        opacity: .4;
    }
}
/* Disco */
@include keyframes(disco) {
    from { background-color: $primary-color; }
    to { background-color: $secondary-color; }

}
.disco {
    color: white;
    background-color: $primary-color;
    @include animation(disco .5s infinite alternate);

    &.reversed {
        @include animation(disco .5s .5s infinite alternate);
    }
}

header.header {
    margin-top: 2em;
    margin-bottom: 2em;

    .date {
        color: $primary-color;
        font-size: 3.4em;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
        display: inline-block;

    }
    .logo img {
        position: relative;
        bottom: -15px;
        left: 10px;

        &.multiply {
            position: absolute;
            left: 373px;
            bottom: -12px;
            z-index: 1;

        }
    }
    .nav-menu {
        @include inline-block-list;
        margin: 0 auto;

        a {
            background-color: $primary-color;
            font-size: 1.5em;
            font-weight: 600;
            display: inline-block;
            padding: .7em .805em;
            color: white;
            text-transform: uppercase;
            position: relative;

            &:hover {
                z-index: 2;
                background-color: $secondary-color;
            }
        }
    }
}
.highlight {
    a {
        height: 280px;
        line-height: 1.1;
        font-size: 2.5em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        display: block;

        &.primary {
            color: white;
            background-color: $secondary-color;

            &:hover {
                color: white;
                background-color: $primary-color;
            }
        }
        span {
            display: inline-block;
            padding-top: 30px;
            &.larger {
                padding-top: 62px;
                font-size: 1.6em;
            }
        }
        .number {
            font-size: 3em;
        }
    }
}
.separator {
    height: 2px;
    background-color: $secondary-color;
    margin: 2em 0;
    &.tiny-margin {
        margin-top: 0;
        margin-bottom: 0.4em;
    }
}
article {
    margin-bottom: 1.5em;

    p {
        margin-bottom: 0.6em;
    }

    .article-header {
        h1 a {
            color: $secondary-color;
            background-color: white;

            &:hover {
                color: $primary-color;
            }
        }
        h4 a {
            color: $secondary-color;
            background-color: white;
            &:hover { color: $primary-color; }
        }
    }
    .byline {
        color: #999;
        font-size: emCalc(12px);
        margin-bottom: 0.5em;
        a {
            color: lighten($primary-color, 15%);
            &:hover {
                color: $primary-color;
            }
        }

    }
    .entry-content {
        font-size: 0.9em;
    }
    
    .article-footer {
        text-align: right;
    }
}

.search article .article-header h4,
.search article .article-header h1,
.post-type-archive article .article-header h4,
.post-type-archive article .article-header h1,
.home article .article-header h4,
.home article .article-header h1 {
    line-height: 1.1;
    margin-bottom: 0;
}
.moretag {
    font-weight: bold;
}
.bluebordered {
    border-left: 2px solid $primary-color;
}
.row.row.tweets-and-blog {
    margin-top: 2em;
    margin-bottom: 3em;
}
.social-media {
    font-size: 2em;
    color: $secondary-color;

    a {
        font-size: 1.5em;
        color: $primary-color;
        padding: 0 0.25em;

        &:hover {
            color: $secondary-color;
        }
    }
    .icon-twitter {
        margin-left: 0.25em;
    }
    .follow {
        position: relative;
        font-size: 0.85em;
        top: -8px;
    }
}

.sidebar {
    .lineup {
        ul.artists {
            list-style-type: none;
            padding-left: 0;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: bold;
            line-height: 1.2;

            a {
                color: $primary-color;
                &:hover {
                    color: white;
                    background-color: $secondary-color;
                }
            }

            &.headliners {
                margin-top: 1em;
                font-size: 2em;

                li:nth-child(even) a {
                    color: $secondary-color;
                    &:hover {
                        color: white;
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

}
.flying-megawhale {
    width: 719px;
    height: 582px;
    background-image: url("../images/megawhale_wink.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 4em;
    position: relative;
    top: 50px;
    z-index: -1;
    img {
        position: absolute;
        right: -20px;
        top: 0px;
        width: 190px;
    }
}
.footer {
    position: relative;
    z-index: 2;
    min-width: 100%;
    text-align: center;
    height: 400px;
    background-color: $primary-color;
    #inner-footer {
        img {
            margin-top: 100px;
        }
    }
}
.wave {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color: $primary-color;
}
.wavetop {
    position: relative;
    bottom: 12px;
    height: 12px;
    background-image: url("../images/wave_top.png");
    background-size: 48px 12px;
    background-repeat: repeat-x;
    background-position: 0;
    width:100%;
    &.animated {
        @include animation(move-left 1s infinite linear);
    }
}
.row {
    /* FIXME: responsive */
    width: 1000px;
    max-width: 1000px;
}
/* Template styles */
.template-artists {
    img {
        display: block;
    }

    .artists {
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        .artist-box {
            a {
                color: $primary-color;
                span {
                    display: block;
                    color: white;
                    background-color: $primary-color;
                }

                &:hover {
                    color: white;
                    span {
                        color: white;
                        background-color: $secondary-color;
                    }
                }
            }

        }

    }
}
/* 404 */
.search {
    .screen-reader-text {
        display: none;
    }
    label,
    input {
        margin-bottom: 10px;
    }
    input {
        width: 300px;
        margin: 0 auto;
        &[type=text]{
            margin-bottom: 1em;
        }
        &[type=submit] {
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.5em 0.4em;
            background-color: $secondary-color;
            color: white;
            border: 0;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}
/* Samuel E. Wright - Under the sea */
.anda-da-zee {
    position: relative;
    width: 100%;
    height: 5000px;
    @include filter-gradient($primary-color, $multiplied); /* IE9 */
    @include background-image(linear-gradient($primary-color, $multiplied));
    border-bottom: solid 65px $punch-color;
    .punsjebollen {
        position: absolute;
        bottom: -40px;
        left: 25%;
        z-index: 1;
        width: 512px;
        height: 340px;
        @include background-image( url('../images/punsjebolle.png'));
        background-repeat: no-repeat;
    }
    .trail-of-bubbles {
        position: absolute;
        top: 475px;
        left: 50%;

        .bubble {
            border-color: darken($primary-color, 10%);
        }

    }
    .bubble {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        bottom: 30px;
        @include border-radius(50% 50%);
        border: 6px solid $primary-color;

        &.first {
            left: 80px;
            width: 50px;
            height: 50px;
            border-width: 14px;
            @include animation(fade-move-long 4s infinite);
        }
        &.second {
            left: 150px;
            width: 35px;
            height: 35px;
            bottom: 40px;
            border-width: 10px;
            @include animation(fade-move-middle 4s .6s infinite);
        }
        &.third {
            left: 100px;
            @include animation(fade-move 4s 1.4s infinite);
        }
    }
}
/* fade move bubbles */
@include keyframes(fade-move) {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        bottom: 230px;
    }

}
@include keyframes(fade-move-middle) {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        bottom: 330px;
    }

}
@include keyframes(fade-move-long) {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        bottom: 430px;
    }

}
/* move left */
@include keyframes(move-left) {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 48px;
    }
}
